<a href="https://colab.research.google.com/github/reban87/Python-Programming/blob/main/Python-Programming/Basic%20Python/Basic_Pythons_core.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variables in Python

In [ ]:
x=3
print(type(x))

<class 'int'>

In [ ]:
print(type(str(x)))

<class 'str'>

In [ ]:
print(type(float(x)))

<class 'float'>

In [ ]:
x="Reban"
print(type(x))

<class 'str'>

In [ ]:
a=4
A=5
print(a,A)

4 5

In [ ]:
#camel case
myVariableName

#pascal case
MyVariableName

#Snake case
my_variable_name

In [ ]:
x,y,z= "apple","ball","cat"
print(x,y,z)

apple ball cat

In [ ]:
fruits=["apple","ball","cat"]
x,y,z=fruits
print(x)
print(y)
print(z)

apple
ball
cat

In [ ]:
x="my"
y="name"
z="is"
w="reban"
print(x+y+z+w)

mynameisreban

In [ ]:
x=5
y=10
z=x+y
print(z)

15

In [ ]:
print(type(x))

<class 'int'>

In [ ]:
x=str(5)
y="reban"
print(x+y)

5reban

In [ ]:
#global variable
x="welcome"
def myWorld():
  print("you are"+x)
myWorld()

you arewelcome

In [ ]:
#create a same name as the global variable but in the function itself
x="awesome"
def function():
  x="fantastic"
  print("python is "+x)
function()

python is fantastic

In [ ]:
#if global keyword is used then it is of global scope
def myfunc():
  global x
  x= "fantastic"
myfunc()
print("python is "+x)

python is fantastic

## Basic python Data Types
- numeric: int, float, complex
- text type: str
- sequence : list, tuples, range
- mapping: dict
- set types: set, frozen set
- boolean type: bool
- binary type: bytes, bytearray, memoryview

In [ ]:
# to check the type of the data
x=5
print(type(x))

<class 'int'>

In [ ]:
x=["apple","ball","cat"]
print(type(x))

<class 'list'>

In [ ]:
x=range(6)
print(type(x))
print(x)

<class 'range'>
range(0, 6)

In [ ]:
x={"name":"reban", "age":"28"}
print(type(x))

<class 'dict'>

In [ ]:
x=b"hello"
print(type(x))

<class 'bytes'>

In [ ]:
x=bytearray(5)
print(x)

bytearray(b'\x00\x00\x00\x00\x00')

In [ ]:
#setting up the specific data types
x=10
print(type(x))

print(type(str(x)))

<class 'int'>
<class 'str'>

In [ ]:
#Random numbers
import random
print(random.randrange(1,10))

8

## ``random`` methods
``random.randint(0,10)`` print random number 0 to 10
``random.seed()`` initialize the random number generator

## Python Casting 
Casting in python is therefore done using constructor functions:

- int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

- float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

- str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
#examples
x=int(1)
y=int(2.1)
z=int("3")
a=str(1)
b=str("1")
x,y,z,a,b

(1, 2, 3, '1', '1')

## Python Strings Basics

In [ ]:
print("Hello")
print(type("hello"))

Hello
<class 'str'>

In [ ]:
#assign string to variable
a="apple"
a

'apple'

In [ ]:
#Multiline strings, we can create multi lines string using """ """ quotes

a=""" My name is Rebanta and i live in kalanki"""
print(a)

 My name is Rebanta and i live in kalanki

Strings are like an array. we can access string using ```square bracket []``` It will return the character of that index of the particular string

In [ ]:
a="Hello world"
print(a[1])

e

How to loop through a string??

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

To find the length of the string ``len(a)``

In [ ]:
a="Rebanta"
print(len(a))

7

To check a particular word in string

In [ ]:
txt="The best thing is the life is to be free"
print("free"in txt)

True

In [ ]:
#print only if free is present
txt=txt="The best thing is the life is to be free"
if("free"in txt):
  print("True")

True

In [ ]:
#print if not 
txt=txt="The best thing is the life is to be free"
if("free" not in txt):
  print("True")
else:
  print("false")

false

Slicing the strings: you can return the range of characters by using the slice syntax

In [ ]:
#get the characters from position 2 to position 5 (not included)
b="Hello World"
print(b[2:5])

llo

In [ ]:
#slice from the start
b="Hello World"
print(b[:5])

Hello

In [ ]:
#slice to the end
b="Hello World"
print(b[2:])

llo World

In [ ]:
#use negative indexes to start the slice from the end of the string
b="Hello World"
print(b[-5:-2])

Wor

upper case and lower case in string

In [ ]:
#upper case upper()
a="hello there"
print(a.upper())

HELLO THERE

In [ ]:
#lower case lower()
a="Hello WORLD"
print(a.lower())

hello world

In [ ]:
# to remove white space
a= "Hello World           "
print(a.strip())

Hello World

replace the string by method replace()

In [ ]:
a="Hello World"
print(a.replace("H","J"))

Jello World

split string split() returns a list where the text between the specified separator becomes the list items

In [ ]:
a="Hello World, i am rebanta aryal, and i live in nepal"
print(a.split(","))

['Hello World', ' i am rebanta aryal', ' and i live in nepal']

##[String Methods](https://www.w3schools.com/python/python_ref_string.asp)

## String Concatenation

In [ ]:
#without adding the space
a="Hello"
b="World"
print(a+b)

HelloWorld

In [ ]:
#adding space in between the strings
a="Hello"
b="world"
print(a+" "+b)

Hello world

## String Formatting in Python

In [ ]:
#we cannot combine string with numbers directly
age=15
name="reban"
text="my name is"+name, i am + age
print(text)

SyntaxError: ignored

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [ ]:
age=36
txt="my name is john, and i am {}"
print(txt.format(age))

my name is john, and i am 36

In [ ]:
quantity=3
item_no=10
price=50
my_order="I want {} pieces of item {} for {} dollers"
print(my_order.format(quantity,item_no,price))

I want 3 pieces of item 10 for 50 dollers

In [ ]:
name="reban"
address="kalanki"
age="28"
print("People call me {}, and i am {} years old and live in {}".format(name, age, address))

People call me reban, and i am 28 years old and live in kalanki

In [ ]:
# new way of formatting the strings using f-strings
name="reban"
age=28
address="kalanki"
print(f"Hello my name is {name}, i live in {address} and i am {age} years old")

Hello my name is reban, i live in kalanki and i am 28 years old

In [ ]:
import datetime
today=datetime.datetime.today()
print(f"{today:%B %d, %Y}")

April 24, 2022

## Booleans in Python

In [ ]:
x="Hello"
y=15
print(bool(x))

True

## [Operators in Python](https://www.w3schools.com/python/python_operators.asp)

Python divides the operators in the following groups:

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

 ```is opeartor```  if both the variable have same value it will return true if both the variables are the same object. it is identity operator

In [ ]:
x=["apple","banana","cat"]
y=["apple","banana","cat"]
z=x
print(x is z)
print(x is y)
print(x==y)

True
False
True

In [ ]:
# isnot
x=["apple","banana","cat"]
y=["apple","banana","cat"]
z=x
print(x is not  z)
print(x is not y)
print(x!=y)

False
True
False

## Python List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types (data formatting) in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [ ]:
my_list=["apple","ball","cat"]
my_list

['apple', 'ball', 'cat']

- List Items
List items are ordered, changeable, and allow duplicate values.

- List items are indexed, the first item has index [0], the second item has index [1] etc.

- Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Changeable mutable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

Allow Duplicates
Since lists are indexed, lists can have items with the same value:

[list Methods](https://www.w3schools.com/python/python_lists_methods.asp)

In [ ]:
#append() : adds element at the end of the list
fruits=["apple","ball","cat"]
fruits.append("dog")
fruits

['apple', 'ball', 'cat', 'dog']

In [ ]:
a=["apple","ball","cat"]
b=["bike","car","cycle"]
a.append(b)
a

['apple', 'ball', 'cat', ['bike', 'car', 'cycle']]

In [ ]:
#clear() remove all the elements from the list
a=["apple","ball","cat"]
a.clear()
a

[]

In [ ]:
#copy() copy the list
a=["apple","ball","cat"]
x=a.copy()
x

['apple', 'ball', 'cat']

In [ ]:
#count() counts the number of times a value "apple" appears in the list
a=["apple","ball","cat"]
a.count("apple")

1

In [ ]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]
points.count(9)

2

In [ ]:
#extend() method adds the specified list elements (or any iterable) to the end of the current list

#add the elements of the cars in the fruits 

#append() le [] pani aaucha but extend le aaudaina
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
fruits

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [ ]:
#tuples can also be added to the list using extend()
fruits = ['apple', 'banana', 'cherry']#list

points = (1, 4, 5, 9) #tuple

fruits.extend(points)
fruits

['apple', 'banana', 'cherry', 1, 4, 5, 9]

In [ ]:
#index() : What is the position of the value "cherry
fruits = ['apple', 'banana', 'cherry']
fruits.index("cherry")

2

In [ ]:
fruits = [4, 55, 64, 32, 16, 32]
fruits.index(32)

3

In [ ]:
#The insert(pos,element) method inserts the specified value at the specified position.
list=[1,2,3,4,5]
list.insert(2,8)
list

[1, 2, 8, 3, 4, 5]

In [ ]:
a=["reban","aryal","kalanki","kathmandu"]
a.append("nepal")
a
a.insert(0,"nepal")
a

['nepal', 'reban', 'aryal', 'kalanki', 'kathmandu', 'nepal']

In [ ]:
#The pop() method removes the element at the specified position.
a=[1,2,3,4,54]
a.pop(0)
a

[2, 3, 4, 54]

In [ ]:
#replace 54 by b
a=[1,2,3,4,54]
a[4]="b"
a

[1, 2, 3, 4, 'b']

In [ ]:
a="reban is the name"
b=a.replace("reban","tree")
b

'tree is the name'

In [ ]:
#list replace function is not present...only string can be possible

a=["a","b","c","d"]
a[2]="ram"
a

['a', 'b', 'ram', 'd']

In [ ]:
#reverse:Reverse the order of the fruit list:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
fruits

['cherry', 'banana', 'apple']

In [ ]:
fruits = ['apple', 'banana', 'cherry']
b=fruits.copy()
b

['apple', 'banana', 'cherry']

In [ ]:
#Sort the list alphabetically:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort()
cars

['BMW', 'Ford', 'Volvo']

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)
cars

['Volvo', 'Ford', 'BMW']

In [ ]:
#sort the list by the length of the value

def mylen(e):
    return(len(e))

cars=["ford","honda", "BMW","vw","hyundai"]
cars.sort(key=mylen)
cars

['vw', 'BMW', 'ford', 'honda', 'hyundai']

In [ ]:
#sort the list by the name of the values and reversed

def lenval(e):
  return len(e)

app= ['Ford', 'Mitsubishi', 'BMW', 'VW']
app.sort(reverse=True,key=lenval)
print(app)

['Mitsubishi', 'Ford', 'BMW', 'VW']

Python Collections (Arrays)
There are four collection data types in the Python programming language:

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.

## Python Dictionary

Dictionary is a collection which is ordered** and changeable. No duplicate members. [Methods](https://www.w3schools.com/python/python_ref_dictionary.asp)

In [ ]:
#Dictionary
#clear() : The clear() method removes all the elements from a dictionary.
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.clear()
car

{}

In [ ]:
#The copy() method returns a copy of the specified dictionary.
car={
    "brand":"Honda",
     "model":"mustang",
     "year":"1998"
}
x=car.copy()
x

{'brand': 'Honda', 'model': 'mustang', 'year': '1998'}

In [ ]:
#The fromkeys() method returns a dictionary with the specified keys and the specified value.
#create a dictionary with 3 keys with 0 values

#dict.fromkeys(keys, value)
x = ('key1', 'key2', 'key3')

y = 2
thisdict=dict.fromkeys(x,y)
print(thisdict)

{'key1': 2, 'key2': 2, 'key3': 2}

In [ ]:
#Same example as above, but without specifying the value:
x=("key1","key2","key3")
thisdict=dict.fromkeys(x)
thisdict

{'key1': None, 'key2': None, 'key3': None}

In [ ]:
#The get() method returns the value of the item with the specified key.
# dictionary.get(keyname, value)

car={
    "brand":"suzuki",
     "year":"1990",
     "model":"hiace"
}

x=car.get("brand")
x

'suzuki'

In [ ]:
# to return the value of an item that do not exist:

car={
    "brand":"honda",
     "year":"1950",
     "model":"mustang"
}

x=car.get("price",10)
print(x)

10

In [ ]:
#The items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x=car.items()
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["brand"]="honda"
print(car)

{'brand': 'honda', 'model': 'Mustang', 'year': 1964}

In [ ]:
# The keys() method returns a view object. The view object contains the keys of the dictionary, as a list.
# dictionary.keys()

car={
    "brand":"honda",
     "model":"city",
     "year":"1985"
}
p=car.keys()
car["price"]="1lakhs"
print(p)
print(car)

dict_keys(['brand', 'model', 'year', 'price'])
{'brand': 'honda', 'model': 'city', 'year': '1985', 'price': '1lakhs'}

In [ ]:
# The pop() method removes the specified item from the dictionary.
#dictionary.pop(keyname, defaultvalue)

person={
    "name":"reban",
    "age":"28",
    "cast":"aryal"
}

person.pop("name")
print(person)

{'age': '28', 'cast': 'aryal'}

In [ ]:
#pop_items Remove the last item from the dictionary:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.popitem()
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
#The setdefault() method returns the value of the item with the specified key.

#If the key does not exist, insert the key, with the specified value

#dictionary.setdefault(keyname, value)

#Get the value of the "color" item, if the "color" item does not exist, insert "color" with the value "white":

car={
    "model":"honda",
     "price":"1 lakh",
     "year":"1998"
}

car.setdefault("color","white")
print(car)
car.fromkeys()

{'model': 'honda', 'price': '1 lakh', 'year': '1998', 'color': 'white'}

In [ ]:
#The update() method inserts the specified items to the dictionary.

#The specified items can be a dictionary, or an iterable object with key value pairs.

#dictionary.update(iterable)

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color":"green"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'green'}

In [ ]:
# values() returns a view object. The view object contains the values of the dictionary, as a list.
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.values()

dict_values(['Ford', 'Mustang', 1964])

## Dictioneries properties

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Dictionaries are written with curly brackets, and have keys and values:

Duplicates Not Allowed i.e. Dictionaries cannot have two items with the same key:

In [ ]:
car={
    "brand":"honda",
     "price":"50 lakhs",
     "year":"1950",
     "year":"1970"
}
print(car)

{'brand': 'honda', 'price': '50 lakhs', 'year': '1970'}

In [ ]:
#dictionary length 
car={
    "brand":"honda",
     "price":"50 lakhs",
     "year":"1950",
     "year":"1970"
}
print(len(car))

3

In [ ]:
car={
    "brand":"honda",
     "price":"50 lakhs",
     "year":"1950",
     "color":["red","green","white"]
}
print(car)
print(type(car))

{'brand': 'honda', 'price': '50 lakhs', 'year': '1950', 'color': ['red', 'green', 'white']}
<class 'dict'>

In [ ]:
#cehck if the model is present in the dictionary
car={
    "model":"1999",
     "brand":"nepali",
     "price":"1 lakh"
}

if "model" in car:
  print("found")

found

In [ ]:
# change dictionery items
thisdict={
    "model":"1999",
     "brand":"nepali",
     "price":"1 lakh"
}

thisdict["model"]="1995"
print(thisdict)

{'model': '1995', 'brand': 'nepali', 'price': '1 lakh'}

In [ ]:
#del keywords removes the item with the specified key name
thisdict={
    "model":"1999",
     "brand":"nepali",
     "price":"1 lakh"
}
del thisdict["model"]
print(thisdict)

{'brand': 'nepali', 'price': '1 lakh'}

## Loop in Dicitionary

You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [ ]:
#Print all key names in the dictionary, one by one:
car={
    "name":"honda",
     "model":"city",
     "color":"white",
     "price":"1 lakh"
}

for i in car:
  print(i)

name
model
color
price

In [ ]:
#Print all values in the dictionary, one by one:
car={
    "name":"honda",
     "model":"city",
     "color":"white",
     "price":"1 lakh"
}
for i in car:
  print(car[i])

honda
city
white
1 lakh

In [ ]:
#You can also use the values() method to return values of a dictionary:
car={
    "name":"honda",
     "model":"city",
     "color":"white",
}

for i in car.values():
  print(i)

honda
city
white

In [ ]:
#You can use the keys() method to return the keys of a dictionary:
car={
    "name":"honda",
     "model":"city",
     "color":"white",
}
for i in car.keys():
  print(i)

name
model
color

In [ ]:
#Loop through both keys and values, by using the items() method:
car={
    "name":"honda",
     "model":"city",
     "color":"white",
}
for i,j in car.items():
  print(i,j)

name honda
model city
color white

In [ ]:
#Create a dictionary that contain three dictionaries
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
#if we want to add 3 dict to a new dict
c1={
    "name":"reban",
    "age": "28"
}

c2= {
    "name":"rupes",
    "age":"32"
     }

c3= {
     "name" : "Emil",
    "age" : "35"
  }

my_family={
    "child1":c1,
    "child2":c2,
    "child3":c3
}

print( my_family)

{'child1': {'name': 'reban', 'age': '28'}, 'child2': {'name': 'rupes', 'age': '32'}, 'child3': {'name': 'Emil', 'age': '35'}}

Exercise:
Use the get method to print the value of the "model" key of the car dictionary.

In [ ]:
car={
    "name":"honda",
     "model":"mustang",
     "price":"1 lakh"
}

car.get("model")

'mustang'

## Practise Questions on Dictionary

In [ ]:
#Write a Python script to sort (ascending and descending) a dictionary by value
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Dictionary in ascending order by value :  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
Dictionary in descending order by value :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [ ]:
#2. Write a Python script to add a key to a dictionary. Go to the editor

#Sample Dictionary : {0: 10, 1: 20}
#Expected Result : {0: 10, 1: 20, 2: 30}

s={
    0:10,
   1:20
}

s[2]=30
print(s)

{0: 10, 1: 20, 2: 30}

Write a Python script to concatenate following dictionaries to create a new one
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10,
      2:20}

dic2={3:30,
      4:40}

dic3={5:50,
      6:60}

dic4={}
for d in(dic1,dic2,dic3):
  dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# Write a Python script to check whether a given key already exists in a dictionary.
d={1:2,3:4,5:6}
key=7
if (key in d):
  print("yes")
else:
  print("No")

No

In [ ]:
#Write a Python program to iterate over dictionaries using for loops.
dic={1:2,3:4,5:6}
for i,j in dic.items():
  print(i,j)

1 2
3 4
5 6

##tuples

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

Tuple items are ordered, unchangeable, and allow duplicate values.

One item tuple, remember the comma: ```thistuple=("apple",)```

In [ ]:
tuple=("apple","banana","cat")
print(tuple)
print(len(tuple))

('apple', 'banana', 'cat')
3

In [ ]:
thistuple=("apple",)
print(type(thistuple))

<class 'tuple'>

In [ ]:
tup=(1,True,"hello")
print(tup)

(1, True, 'hello')

In [ ]:
# tuples can be accessed by the index number
thisTupple=("apple","ball",3)
print(thisTupple[1])

ball

tuple can be deleted using del

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple

Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [ ]:
thisset={"apple","ball"}
print(thisset)

{'ball', 'apple'}

## Function in pythons

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

Creating a Function
In Python a function is defined using the def keyword:

In [ ]:
def myfunc():
  print("hello")

myfunc()

hello

Arguments
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def func(fname):
  print(fname + "dasfdsf")

func("reban")
func("emil")
func("ram")

rebandasfdsf
emildasfdsf
ramdasfdsf

Arbitrary Arguments, *args
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

passing list as an argument

In [ ]:
fruits=["apple","banana","orange","mango"]

def funct(food):
  for i in food:
    print(i)

funct(fruits)

apple
banana
orange
mango

In [ ]:
x,y=["hari","ram"]
print(x,y)

hari ram

In [ ]:
car={
    "name":["honda"
}