<a href="https://colab.research.google.com/github/reban87/Python-Programming/blob/main/Intermediate%20Python/Dictionaries/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Dictionary**
- Mutable
- Unordered
- Collection of key value pairs

#### **Basic Operations**

##### Creation / Initialization

- With curley braces, each item(key and value separated by columns) separated by comma.
- With dict(key1=value1, key2=value2, ...)

In [6]:
d1 = {
    "key1": "value1",
    "key2": "value2"
}
print(d1)

d2 = dict(name = "key2", age = "value2")
print(d2)

d3 = {} # empty initilaizaton

{'key1': 'value1', 'key2': 'value2'}
{'name': 'key2', 'age': 'value2'}

##### Accessing Values
- dict[key]

In [7]:
d = {"name": "Aryal",
     "age": 27}

d["name"]

'Aryal'

##### Adding Key Val
- dict ["key"] = value
- if key already exists then value gets updated

In [8]:
d = {"name": "Aryal", "age": 27}
d["email"] = "aryal@example.com"
d["age"] = 28             #updated

print(d)

{'name': 'Aryal', 'age': 28, 'email': 'aryal@example.com'}

##### Deletion
- del dict["key"]
- dict.pop("key") -> inplace
- dict.popitem() remove last item -> inplace

In [15]:
d = {"name": "Aryal", "age": 28, "author": "Book1", "address": "Nepal"}

del d["name"]             # removes key along with value
print(d)

popped = d.pop("author")  #pops out key and return its value
print(popped)

pop_items = d.popitem()   # pops out and returns the last item
print(pop_items)          # the popped items as a tuple     

print(d)                  # remaining dict

{'age': 28, 'author': 'Book1', 'address': 'Nepal'}
Book1
('address', 'Nepal')
{'age': 28}

##### Get keys and items
- keys: dict.keys()
- values: dict.values()
- Return type as a List

In [24]:
x = {"key1": "value1", "key2": "value2", "key3": "value3"}
print(x.keys())             # returns a list
print(x.values())           # returns a list
for key, val in x.items():  # returns keys and values
  print(key,val)

dict_keys(['key1', 'key2', 'key3'])
dict_values(['value1', 'value2', 'value3'])
key1 value1
key2 value2
key3 value3

##### Checking keys, items
- check for keys: "key" in dict.keys()
- check for values: "values" in dict.values()

In [32]:
x = {"name": "aryal", "age": 28}

if "name" in x.keys():
  print("name exist")

if 28 in x.values():
  print("age exist")

print(x)

name exist
age exist
{'name': 'aryal', 'age': 28}

##### Copy the dictionary
- dict_cpy = dict.copy() or
- dict_cpy = dict(my_dict)

In [37]:
x= {'a': 1, 'b': 2, 'c': 3 }
x_cpy = x.copy()

print("original",x)
print("copied",x_cpy)

x_cpy['d'] = 4        # added an item to x_cpy
print("after adding", x_cpy)

print(x)              # original dict is unmodified

original {'a': 1, 'b': 2, 'c': 3}
copied {'a': 1, 'b': 2, 'c': 3}
after adding {'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3}

##### Update and merge two dictionary
- update: dict1.update(dict2) , then dict1 gets updated
- merge: {dict1, dict2}

In [43]:
d1 = {'a': 1, 'b': 2, 'c': 3}
d2 = {'a': 4, 'd': 5, 'e': 6}

d1.update(d2)         # updated the value of a
print(d1) 

merged = {**d1, **d2} # if not added ** error occurs: unhashable type: 'dict'
print(merged)

{'a': 4, 'b': 2, 'c': 3, 'd': 5, 'e': 6}
{'a': 4, 'b': 2, 'c': 3, 'd': 5, 'e': 6}

##### Sub type creation
- Tuple as a key i.e. x = (1,2) d[x] = values
- However lists cannot be used as a key cause the key is mutable.
- Mutable types cannot be used as a key.

In [44]:
# as a tuple
t_key = (1, 2)
d_sum = {t_key: 3}
print(d_sum)

{(1, 2): 3}

#### Common Exceptions

##### Key Error
- occurs when trying to access non existing key

In [47]:
x = {"name": "Aryal", "age": 30}

try:
  x["last_name"]
except Exception as e:
  print(e.__class__)

<class 'KeyError'>

##### TypeError
- When key is of unhashable type, means as a list

In [53]:
# as a list -> Exception: TypeError
l_key = (1,2)
l1_key = [1,2]

try: 
  # d_sum = {l_key: 3}        # its a tuple
  d1_sum = {l1_key: 3}        # error due to list  

  # print(d_sum)
  print(d1_sum)

except Exception as e:
  print(e.__class__)

<class 'TypeError'>